body {
    background-color: black;
}

h1, h2, .green {
    color: #25fe01;
    text-align: center;
}

.border-green {
    border:solid #25fe01;
}

.center {
    align-content: center;
}

h3 {
    color: #25fe01;
    display: inline-block;
    margin-left: 20px;
}

.button {
    margin-left: 20px;
    background-color: #25fe01 ;
    
}

.top {
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;

}

.grid {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    border: solid 1px;
    width: 450px;
    height: 450px;
    box-sizing: content-box;
}

.grid div {
    width: 30px;
    height: 30px;
    background-color: black;
    box-sizing: content-box;
}

.empty-square {
    width: 30px;
    height: 30px;
    background-color: black;
    box-sizing: content-box;
}

.dead {
    width: 30px;
    height: 30px;
    background-color: black;
    box-sizing: content-box;
}

.shooter {
    background-image: url('images/spaceship.png');
    background-size: cover;
}

.defender {
    background-image: url('images/spaceship.png');
    background-size: cover;
}

.invader {
    background-image: url('images/invader.png');
    background-size: cover;
}


.intruder {
    background-image: url('images/intruder.png');
    background-size: cover;
}

.boom {
    background-image: url('images/boom.png');
    background-size: cover;
}

.laser {
    background-image: url('images/rocket.png');
    background-size: cover;
}

.rocket {
    background-image: url('images/rocket.png');
    background-size: cover;
}
.youwin {
    background-image: url('images/youwin.png');
    background-size: cover;
}
.youlose {
    background-image: url('images/youlose.png');
    background-size: cover;
}