{% extends "games/layout.html" %}
{% load static %}

{% block body %}
    
<h1>Space Invaders</h1>
<h2>High Scores:</h2>
<hr class="border-green">
<div class="container border-green">
    <div class="row">
        <div class="col green">
            <span class="green">Level 1</span>
            <table class="table-borderless table-sm green mx-auto">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Points</th>
                    <th scope="col">Time</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>{{user.name}}</td>
                    <td>{{score}}</td>
                    <td>{{time}}</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>{{user.name}}</td>
                    <td>{{score}}</td>
                    <td>{{time}}</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>{{user.name}}</td>
                    <td>{{score}}</td>
                    <td>{{time}}</td>
                  </tr>
                </tbody>
              </table>
        </div>
        <div class="col green">
            <span class="green">Level 2</span>
            <table class="table-borderless table-sm green mx-auto">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Points</th>
                    <th scope="col">Time</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>{{user.name}}</td>
                    <td>{{score}}</td>
                    <td>{{time}}</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>{{user.name}}</td>
                    <td>{{score}}</td>
                    <td>{{time}}</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>{{user.name}}</td>
                    <td>{{score}}</td>
                    <td>{{time}}</td>
                  </tr>
                </tbody>
              </table>
        </div>
        <div class="w-100"><hr class="border-green"></div>
        <div class="col green">
            <strong class="green">Level 3:</strong>
            <table class="table-borderless table-sm green mx-auto">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Points</th>
                    <th scope="col">Time</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>{{user.name}}</td>
                    <td>{{score}}</td>
                    <td>{{time}}</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>{{user.name}}</td>
                    <td>{{score}}</td>
                    <td>{{time}}</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>{{user.name}}</td>
                    <td>{{score}}</td>
                    <td>{{time}}</td>
                  </tr>
                </tbody>
              </table>
        </div>
        <div class="col green mx-auto">
            <strong class="green">Level 4:</strong>
            <table class="table-borderless table-sm green mx-auto">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Points</th>
                    <th scope="col">Time</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>{{user.name}}</td>
                    <td>{{score}}</td>
                    <td>{{time}}</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>{{user.name}}</td>
                    <td>{{score}}</td>
                    <td>{{time}}</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>{{user.name}}</td>
                    <td>{{score}}</td>
                    <td>{{time}}</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
  </div>

{% endblock %}

