{% extends "games/layout.html" %}
{% load static %}

{% block body %} 
    <div id="game">
        <div class="top">
            <button class="btn btn-sm button" id="start">Start/Pause</button>
            <h3>Score: <span id="score">0000</span> </h3>
            <h3>Time: <span id="time">00</span></h3>
            <button class="btn btn-sm button" id="restart">Restart</button>
        </div>
        <div class="grid">
            
        </div>
    </div>
    <div class="top" id="level-select">
        <button class="button" id="level1">Level 1</button>
        <button class="button" id="level2">Level 2</button>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'games/proto.js' %}"></script>
{% endblock %}